<!-- ======= About Section ======= -->
<section id="about" class="about animate-box section-bg">
  <div class="container">
    <div class="section-title">
      <p></p>
    </div>

    <div class="row" style="padding-left: 30px;">
      <div class="col-md-8">
        <h5>Hey There!👋</h5>
        <p>
          My name is Mullaivanaraj Anbu, and I've got passion for problem solving, developing
          rich web experiences & web applications and I'm always interested in a
          challenge !
        </p>

        <p>
          As a Software Engineer, I'm currently working in a IT consulting firm
          in financial services and stock market.
        </p>

        <p>
          When not working, you’ll find me either watching or talking about
          movies, jogging, or listening to my favorite band.
        </p>

        <p>
          I occasionally take on freelance opportunities. Have an exciting
          project where you need some help? or just want to say hi?
          <a href="#contact" class="scrollto"> Send me over a message</a>, and
          let's chat !
        </p>
      </div>

      <div class="col-md-4">
        <img
          src="assets/img/profile3.png"
          alt=""
          class="img-fluid rounded-circl"
        />
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
