<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="d-flex flex-column justify-content-center align-items-center"
>
  
  <div class="hero-container" data-aos="fade-in">
    <h1>Hi! I'm Mullaivanaraj Anbu</h1>
    <p>
      <span
        class="typed"
        data-typed-items="Frontend Developer, Software Engineer"
      ></span>
    </p>
    
  </div>
  <!-- <div class="col-md-4">
    <img
      src="assets/img/profile3.png"
      alt=""
      class="img-fluid rounded"
    />
  </div> -->
  
</section>
<!-- End Hero -->
