<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Some Things I’ve Built</h2>
    </div>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <!-- Home Hunt -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="centered"><h5>Home-Hunt</h5></div>
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Homehunt.jpg" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a
              href="https://github.com/mullaivanaraj/home-hunt"
              target="_blank"
              title="More Details"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Crypto Checker -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="centered"><h5>Crypto Checker</h5></div>
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Cryptochecker.jpg" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a
              href="https://github.com/mullaivanaraj/crypto-tracker"
              target="_blank"
              title="More Details"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Mullaivanaraj portfolio -->
      <div
        class="col-lg-4 col-md-6 portfolio-item filter-app"
        data-aos-delay="100"
      >
        <div class="centered"><h5>Mullaivanaraj's portfolio</h5></div>
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Mullaivanaraj.jpg" class="img-fluid" alt="" />
          <div class="portfolio-links">
            <a
              href="https://mullaivanaraj.netlify.app/"
              target="_blank"
              title="Demo"
              ><i class="bi bi-cursor-fill"></i
            ></a>
            <a
              href="https://github.com/mullaivanaraj/Mullaivanaraj-portfolio"
              target="_blank"
              title="More Details"
              ><i class="bx bxl-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
