<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<app-header></app-header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<app-hero></app-hero>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <app-resume></app-resume>
  <!-- End Resume Section -->

  <!-- ======= Skills Section ======= -->
  <app-skills></app-skills>
  <!-- End Skills Section -->

  <!-- ======= Portfolio Section ======= -->
  <app-portfolio></app-portfolio>
  <!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
